@{
    ViewData["Title"] = "Home Page";
}

<h1>Test</h1>


<table>
    <tr>
        <td>CPU-Architecture:</td>
        <td>@System.Environment.GetEnvironmentVariable("PROCESSOR_ARCHITECTURE")
        @System.Environment.GetEnvironmentVariable("PROCESSOR_ARCHITEW6432")
        </td>
    </tr>
    <tr>
        <td>App-Architecture:</td>
        <td>@(System.IntPtr.Size * 8)-Bit</td>
    </tr>
    <tr>
        <td>HW-Acc.:</td>
        <td>@System.Numerics.Vector.IsHardwareAccelerated</td>
    </tr>
    <tr>
        <td>CPUinfo<br /><br /></td>
        <td><pre style="float:left;" id="cpu">@ViewData["CpuInfo"]
Cores: @System.Environment.ProcessorCount</pre></td>
    </tr>
</table>


<!--
CPU-Architecture:	AMD64
App-Architecture:	64-Bit
HW-Acc.:	True
CPUinfo

Intel(R) Core(TM) i5-2540M CPU @ 2.60GHz
Intel64 Family 6 Model 42 Stepping 7
Cores: 4    
-->

<img style="width: 500px;" src="@Url.Content("~/images/orig.jpg")" alt="pic" />

<!---->
<img src="@Url.Action("Thumb", "Home")/orig.jpg" alt="pic" />
